* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;

  margin: auto;
}

.footer {
  background-color: #24262b;
  padding: 70px;
}
ul {
  list-style: none;
}
.col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}

/* .col h4::before{

content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;
direction: rtl;

} */
.col h2 {
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 40px;
}
body {
  line-height: 1.5;
}

.col ul li a {
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 300px;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  padding-bottom: 10px;
}
.col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;

  font-size: 20px;
}

.col .icons a i {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}

.col .icons a i:hover {
  color: #24262b;
  background-color: #ffffff;
}

.col {
  width: 20%;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .col {
    width: 100%;
  }
}
